<div class="products-filter">
    <ul class="filter">
        
        <li>
            <select class="form-select form-select--small" name="" id="">
                <option value="" disabled selected>Size</option>
                <option value="">11x20</option>
                <option value="">9x20</option>
                <option value="">14x20</option>
            </select>
        </li>
        <li>
            <select class="form-select form-select--small" name="" id="">
                <option value="" disabled selected>Color</option>
                <option value="">Black</option>
                <option value="">Blue</option>
                <option value="">Blue-green</option>
                <option value="">Blush</option>
                <option value="">Brown</option>
            </select>
        </li>
        <li>
            <select class="form-select form-select--small" name="" id="">
                <option value="" disabled selected>Price</option>
                <option value="">Low to High</option>
                <option value="">High to Low</option>
            </select>
        </li>
        <li>
            <select class="form-select form-select--small" name="" id="">
                <option value="" disabled selected>Fit</option>
                <option value="">11</option>
                <option value="">15</option>
            </select>
        </li>       
    </ul>
</div>
