{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
{{/if}}


                    
<footer class="footer" role="contentinfo">
    <div class="container">
        <section class="footer-info 4a616d6573">
            <div class="col-1-4">
            <article class="footer-info-dropdown" data-section-type="footer-categories">
                <h5 class="footer-info-heading">
                    <img class="footer-logo" title="" src="{{cdn 'assets/img/footer-logo.png'}}" alt="">
                </h5>
                <p>Sara Campbell Ltd.<br>67 Kemble Street<br>4th Floor<br>Boston, MA 02119</p>
                <p>617-423-3134</p>
            </article>
        </div>
        <div class="col-1-4">
            <article class="footer-info-dropdown" data-section-type="footer-webPages">
                
                <ul class="footer-info-list">
                        <li>
                            <a href="#">Returns & Exchanges</a>
                        </li>
                        <li>
                            <a href="#">Press</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Find A Store</a>
                        </li>
                </ul>
                <ul class="social-media">
                    <li><a href="#"><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/pinterest.png'}}" alt=""></a></li>
                    <li><a href="#"><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/instagram.png'}}" alt=""></a></li>
                    <li><a href="#"><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/twitter.png'}}" alt=""></a></li>
                    <li><a href="#"><img class="__mce_add_custom__" title="" src="{{cdn 'assets/img/facebook.png'}}" alt=""></a></li>
                </ul>
            </article>
        </div>
            
            
            {{#if settings.show_newsletter_box}}
            <div class="col-1-4">
            <article class="footer-info-dropdown" data-section-type="footer-webPages">
                <div class="footer-newsletter">
                    {{> components/common/subscription-form}}
                </div>
                </article>
            </div>
            {{/if}}
            
            {{#if settings.address}}
                <article class="footer-info-col footer-mobile-limited footer-info-col--small" data-section-type="storeInfo">
                    <h5 class="footer-info-heading footer-store-name">{{settings.store_name}}</h5>
                    <address>{{nl2br settings.address}}</address>
                    {{#if settings.phone_number}}
                        <div class="footer-info-phone">
                            <i class="icon" aria-hidden="true">
                                <svg><use xlink:href="#icon-phone" /></svg>
                            </i>
                            <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a>
                        </div>
                    {{/if}}
                </article>
            {{/if}}
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        
        
       
    </div>
    <div class="footer-copyright">
{{#or theme_settings.show_powered_by theme_settings.show_built_by}}
            <div class="container" style="font-size: 12px;">
                {{#if theme_settings.show_copyright_footer}}
                <p class="powered-by">&copy;  {{moment format="YYYY"}} {{settings.store_name}} Ltd. in Boston, MA. All rights reserved.</p>
            {{/if}}
                
            </div>
        {{/or}}
</div>

</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
/ contact form /
$(document).ready(function(){
    $('.form').find('input, textarea').on('keyup blur focus', function(e) {
      var $this = $(this),
        label = $this.prev('label');
      if (e.type === 'keyup') {
        if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
      } else if (e.type === 'blur') {
        if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.removeClass('highlight');
        }
      } else if (e.type === 'focus') {

        if ($this.val() === '') {
          label.removeClass('highlight');
        } else if ($this.val() !== '') {
          label.addClass('highlight');
        }
      }
    });
});
</script>
