<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon"></span>
    </a>

    <div class="header-logo--wrap">
        <div class="header-logo {{#if theme_settings.logo_size '===' 'original'}}logo-full-size{{/if}}">
            
            <div class="header-tag">
                <p>TAKE 20% OFF SITEWIDE WITH CODE: ABC123</p>
            </div>
            
            <div class="quickSearchWrap" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
                {{> components/common/quick-search}}
            </div>
            
            <div class="header-location"><a href="">Location</a></div>
            <div class="header-blog"><a href="/blog/">Blog</a></div>
            <div class="navUser-wrap">
                {{> components/common/navigation}}
            </div>
        </div>
    </div>

<div class="bavi-bg">
    <div class="container">
    <div class="logo-left">
        <div class="logo-and-toggle">
                <div class="desktopMenu-toggle">
                    <a href="javascript:void(0);" class="mobileMenu-toggle">
                        <span class="mobileMenu-toggleIcon"></span>
                    </a>
                </div>
                
                {{#if page_type '===' 'default'}}
                    <div class="logo-wrap">{{> components/common/store-logo}}</div>
                {{else}}
                    <div class="logo-wrap">{{> components/common/store-logo}}</div>
                {{/if}}
            </div>
    </div>

        <div class="navi-right">
            <div class="navPages-container" id="menu" data-menu>
                {{> components/common/navigation-menu}}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    </div>

    
</header>
{{#unless page_type '===' 'default'}}
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

{{/unless}}

{{{region name="header_bottom"}}}

